@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body {
font-family: 'Trade Winds', cursive;
}

.app .container {
  padding-top: 2rem;
}

.post-form {
  padding-bottom: 2rem;
}

